# ==========================================
# Terraform
# ==========================================

**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# ==========================================
# Node.js
# ==========================================

node_modules/

# ==========================================
# Environment Files
# ==========================================

.env

# ==========================================
# Sensitive Files
# ==========================================

*.pem

# ==========================================
# Reports / Uploads
# ==========================================

BackEnd/reports/*

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# OS Files
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# VS Code
# ==========================================

.vscode/